 @import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Homenaje&family=Sevillana&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,300;1,100&display=swap');
 :root{
    --links-white-color:white;
    --black-backgroundColor: #171c28;
    --dark-background-card:#171c28;
    --white-text-color:white;
    --dark-text-color:black;
   --font-family-paragragh: 'Chivo Mono', monospace;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  transition: 1s ease-in-out;
}
p{
  font-family: var(--font-family-paragragh);
}
body.dark{
    background-color: var(--black-backgroundColor);
    color: var(--links-white-color);

}
html{
    scroll-behavior: smooth; 
}


section  {
    margin-bottom: 120px;
    min-height: 100vh;
} 

.sectionHeader {
    margin: auto;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: 'Rubik Vinyl', cursive;
    letter-spacing: 8px;
    word-spacing: 15px;
    border-bottom: 2px solid;
    width: fit-content;
    transition: .5s ease-in-out;
    height: 80px;
}
.sectionHeader:hover{
    border-bottom:1px solid #26a69a;
}


/* start generals */
.social-link {
  border-radius: 50%;
    transition: .3s ease-in-out;
    overflow: hidden;
    animation: socialAnimation 2s infinite;
}
.social-link a{
  padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 border-radius: 50%;

}
@keyframes socialAnimation {
  0%,100%{transform:translatex(0px)}
  25%{transform:translatex(-5px)}
  50%{transform:translatex(5px)}
  75%{transform:translatex(-5px)}
}
.social-link:hover{
  animation: none;
}
  .gmail{
    background-color: #ea4335
  }
  .linkedin{
    background-color: #0e76a8
  }
  .github{
    background-color: #333
  }
  .social-link a:hover{
    background-color: #000
  }
/* end general */

/* start header */
.headercontent {
  min-height: 50px;
}
.logo {
  font-family: "Sevillana", cursive;
  letter-spacing: 2px;
}
.nav--links {
  font-family: 'Tangerine', serif;
}

.nav--links a {
  font-size: 22px;
  padding: 5px;
  border-radius: 13px;
  transition: .3s;
}
.nav--links a:hover{
  box-shadow: 3px 2px 5px #ccc;
}
.nav--links a span{
  opacity: .6;
}
.nav--links a span:hover{
  opacity: 1;
}
.active--link{
  background-color: #6a1b9a;
}
/* end header */

/* for white mode */


.white .card-bodywhitemode{
  color: white !important;
}
.white .nav-white-mode a {
  color: #0e76a8 !important;
  font-weight: bold;
  text-shadow: 1px 1px 2px #0d6efd;
}
.white figcaption {
  color:rgb(65, 59, 59) !important;
}
.websiteContent {
  display: none;
}